<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<package name="com.jczx.model"/>
		<package name="com.jczx.model52"/>
	</typeAliases>
	<mappers>
		<package name="com.jczx.mappers"/>
		<package name="com.jczx.mappers52"/>
	</mappers>
</configuration>
